@model ASP.Models.Admin.Accounts.ApplicationUser
@{
    ViewData["Title"] = "Thành viên - Thêm mới";
    Layout = "../Shared/Layout/Admin/_Layout";
}
<div class="content-wrapper" style="min-height: 422px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-route="admin.accounts"><i class="fa fa-users"></i> Thành viên</a></li>
                        <li class="breadcrumb-item active"> Thêm mới</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="box box-primary card-body">
                <!-- /.box-header -->
                <form autocomplete="off" method="POST" asp-controller="Account" asp-action="Store" accept-charset="UTF-8" class="" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" placeholder="Code ..." class="form-control" value="@Model.UserName" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="FullName"></label><span class="icheck-primary-loading"></span>
                                    <input asp-for="FullName" value="@Model.FullName" placeholder="Họ tên ..." class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="PassWord"></label>
                                    <input asp-for="PassWord" placeholder="Nhập Password" class="form-control" type="password" value="@Model.PasswordHash" autocomplete="off" />
                                    <span asp-validation-for="PassWord" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="RePassWord"></label>
                                    <input asp-for="RePassWord" placeholder="Nhập lại Password" class="form-control" type="password" value="" />
                                    <span asp-validation-for="RePassWord" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="LevelManage"></label>
                                    @Html.DropDownList("LevelManage", Html.GetEnumSelectList<ASP.BaseCommon.EnumLevelManage>(), "-- Chọn --", new { @class = "form-control" })
                                    <span asp-validation-for="LevelManage" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="RoleId"></label>
                                    <select asp-for="RoleId" asp-items="@ViewBag.sltRoles" class="form-control">
                                        <option>-- Chọn --</option>
                                    </select>
                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" placeholer="Số điện thoại" class="form-control" value="@Model.PhoneNumber" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" placeholder="Email" class="form-control" type="email" value="@Model.Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div><!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="Status"></label>
                                    @Html.DropDownList("Status", Html.GetEnumSelectList<ASP.BaseCommon.EnumStatusUser>(), "-- Chọn --", new { @class = "form-control" })
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label>Ảnh đại diện (<small>300x300px</small>)</label>
                                    <input asp-for="Avatar" class="form-control image-input" type="file" />
                                    <span asp-validation-for="Avatar" class="text-danger"></span>

                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <div class="preview-image preview-image-user">
                                        <img class="image-preview" src="" alt="image">
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <a class="btn btn-default" asp-route="admin.accounts"><i class="fas fa-arrow-circle-left"></i> Quay lại</a>
                        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Lưu</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // jQuery
        });
    </script>
}